<!doctype html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TShare.ir | تاریخچه اشتراک‌گذاری شما</title>
  <link rel="stylesheet" href="{{url}}css/style.css?ver={{version}}">
  <link rel="icon" href="{{url}}favicon.ico?ver={{version}}" sizes="any">
  <meta name="theme-color" content="#e50561">
  <script defer="defer" src="{{url}}js/app.js?ver={{version}}"></script>
</head>
<body>
<div class="background-animation">
  <div class="floating-sphere sphere-1"></div>
  <div class="floating-sphere sphere-2"></div>
  <div class="floating-sphere sphere-3"></div>
</div>
<header>
  <div>
    <div class="right">
      <ul>
        <li>
          <a href="{{url}}history">لینک های شما</a>
        </li>
      </ul>
    </div>
    <div class="left">
      <a href="{{url}}">
        <img src="{{url}}icon.png?ver={{version}}" alt="TShare.ir" class="logo">
        <h1>TShare.ir</h1>
      </a>
    </div>
  </div>
</header>

<div class="content">
  <div class="header">
    <h2>تاریخچه اشتراک گذاری شما</h2>
    <p>
      در زیر لیستی از لینک هایی که شما اشتراک گذاشته اید را میتوانید مشاهده کنید.
    </p>
  </div>
  <ul class="history-list"></ul>
  <a href="{{url}}" class="submit-btn" style="flex: 0; font-size: 1rem; text-decoration: none;display: flex">
    بازگشت به خانه
  </a>
</div>

<footer>
  <div><a href="https://habibi-dev.blogfa.com/page/support" class="donate-link" target="_blank">با یه قهوه ازم حمایت کن ☕</a>
    <p>Powered by Rust 🦀 - v{{version}}</p></div>
</footer>
</body>
</html>
